main {
  background-color: #050505;
  position: relative;
  height: calc(100vh - 60px);
  padding-top: 143px;
}

.bg {
  background: url("../image/desktop/spot_bg.png") center no-repeat;
  background-size: cover;
  text-align: center;
  height: 734px;
  overflow: hidden;
}
.prince-image {
  width: 809px;
  height: 677.9px;
  margin: 0 auto;
  background: url("../image/desktop/Prince_all.png") center no-repeat;
  background-size: cover;
}
.status-bar {
  position: absolute;
  top: 407px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
  padding: 40px;
  max-height: 569px;
}

.breadcrumb {
  display: flex;
  align-items: center;
  font-family: Audiowide;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #818181;
  padding: 40px 50px 20px;
}
.breadcrumb > div + div {
  margin-left: 15px;
  vertical-align: middle;
}
.login-title {
  width: 69px;
  height: 20px;
  background: url("../image/desktop/login_title.png") center no-repeat;
  background-size: contain;
}
.lets-hyper {
  font-family: Audiowide;
  font-size: 36px;
  color: #fff;
  margin: 30px 0;
}
.input {
  max-width: 500px;
  width: 100%;
  height: 56px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  border-radius: 4px;
  background-color: #222;
  margin: 0 auto 25px;
}
.noti {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
}
.login-button {
  margin-top: 50px;
}
.enter-login-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 160px auto;
  height: 100%;
}
.join-desc {
  font-family: Inter;
  font-size: 18px;
  line-height: 1;
  color: #13e8f5;
}
.join {
  font-family: Audiowide;
  font-size: 24px;
  line-height: 1;
  color: #00deec;
}
.dotted-line {
  border-style: dotted;
  width: 120px;
  height: 1px;
  flex-grow: 0;
  background-color: #13e8f5;
  margin: 10px 20px 0 5px;
}

@media (max-width: 640px) {
  main {
    height: calc(100vh - 122px);
    padding-bottom: 80px;
  }
  .bg {
    height: 375px;
  }
  .absolute-box {
    top: 180px;
  }
  .prince-image {
    width: 289px;
    height: 243px;
  }
  .status-bar {
    padding: 32px 20px;
    top: 220px;
    height: auto;
  }
  .lets-hyper {
    margin: 0 0 24px;
    font-size: 20px;
  }
  .breadcrumb {
    display: none;
  }
  hr {
    display: none;
  }
  .noti {
    flex-direction: column;
  }
  .noti > div + div {
    margin-top: 13.5px;
  }
  .login-button {
    margin-top: 24px;
  }
  .input {
    margin: 0 auto 16px;
    height: 48px;
  }
  .login-button {
    width: 295px;
    height: 42px;
  }
  .enter-login-bar {
    margin: 126px auto;
    flex-direction: column;
    padding: 24px 20px;
  }
  .join {
    margin-top: 12px;
    font-size: 16px;
  }
  .join-desc {
    font-size: 14px;
  }
}
