@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #050505;
}
p {
  margin: 0;
}
img {
  width: 100%;
  height: 100%;
}
button {
  background: inherit;
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
hr {
  max-width: 1140px;
  border-bottom: 1px solid #232323;
  border-top: 0;
}
main {
  background-color: #050505;
}

/* nav */
nav {
  position: absolute;
  top: 78px;
  left: 0;
  z-index: 50;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 91.5px 0 87px;
}
.nav-right {
  display: flex;
  align-items: center;
}
.back-icon {
  width: 24px;
  height: 24px;
}
.nav-title {
  font-family: Audiowide;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.5px;
  text-align: center;
  color: #fff;
}
.nav-logo {
  width: 384.7px;
  padding-bottom: 5%;
  background: url("../image/desktop/logo.png") left center no-repeat;
  background-size: contain;
}
.sns-icon,
.menu-icon {
  width: 36px;
  height: 36px;
  display: inline-block;
  vertical-align: middle;
}
.sns-icon.discord {
  background: url("../image/desktop/icon/discord_ico.png") center no-repeat;
  background-size: cover;
}
.sns-icon.insta {
  background: url("../image/desktop/icon/insta_ico.png") center no-repeat;
  background-size: cover;
}
.sns-icon.youtube {
  background: url("../image/desktop/icon/youtube_ico.png") center no-repeat;
  background-size: cover;
}
.sns-icon.twitter {
  background: url("../image/desktop/icon/twitter_ico.png") center no-repeat;
  background-size: cover;
}
.menu-icon {
  background: url("../image/desktop/icon/menu_ico.png") center no-repeat;
  background-size: cover;
  margin-left: 46.5px;
}
.sns-icon + .sns-icon {
  margin-left: 10px;
}
.nav.mobile > .logo {
  width: 126.9px;
  height: 36px;
}
@media (max-width: 1024px) {
  nav {
    padding: 0 23px 0 20px;
  }
}
@media (max-width: 748px) {
  .nav-right > .sns-icons {
    display: none;
  }
}
@media (max-width: 640px) {
  nav {
    top: 16px;
    padding: 0 23px 0 20px;
  }
  .nav-logo {
    width: 126px;
    background: url("../image/mobile/logo_m.png") left center no-repeat;
    background-size: contain;
  }
  .menu-icon {
    width: 24px;
    margin-left: 0;
    height: 24px;
  }
  footer {
    padding: 0;
  }
}

/* menu */
#menu-icon {
  position: relative;
  cursor: pointer;
}
#menu {
  position: absolute;
  top: 0;
  right: 0;

  width: 540px;
  height: 1080px;
  padding: 98px 78px 125px;
  background-color: #151515;

  font-family: Inter;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #aaa;
  z-index: 60;

  display: none;
}
#menu.clicked {
  display: block;
}
.menu-subtitle {
  margin: 20px 0 0 20px;
}
.menu-title {
  font-family: Audiowide;
  font-size: 22px;
  line-height: 1;
  color: #fff;
}
#menu > hr {
  margin: 30px 0;
}
.logout,
.joinus {
  display: inline-block;
  text-decoration: underline;
}
.login {
  display: inline-block;
}
.joinus {
  margin-left: 40px;
}
.close {
  margin-bottom: 21px;
  text-align: right;
  cursor: pointer;
}
.close-icon {
  width: 18px;
  height: 18px;
  background: url("../image/desktop/icon/x.png") top center no-repeat;
  background-size: cover;
  display: inline-block;
}
.links {
  margin-top: 48px;
}

@media (max-width: 640px) {
  #menu {
    padding: 51px 37px 89px;
    width: 80%;
    overflow: auto;
    height: 100vh;
  }
  .menu-title {
    font-size: 18px;
  }
  .menu-subtitle {
    font-size: 16px;
  }
}

/* footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px 0 25px;
  background-color: #101010;
}
footer > div {
  flex: 1 1 auto;
  text-align: center;
}
.footer-left {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  color: #969696;
}
.footer-right {
  font-family: Inter;
  font-size: 14px;
  line-height: 1;
  color: #818181;
}
footer > .sns-icons {
  display: none;
}
.mobile {
  display: none;
}
@media (max-width: 640px) {
  .footer-left {
    display: none;
  }
  footer {
    padding: 80px 0 34px;
    background-color: #050505;
    flex-direction: column;
  }
  footer > .sns-icons {
    display: block;
    margin-bottom: 24px;
  }
  .footer-right > span {
    display: block;
  }
}

/* modal */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  display: none;
}
.modal-content-bg {
  background: url(../image/desktop/pop_up_layer.png) center no-repeat;
  background-size: cover;
  max-width: 680px;
}
.modal-content {
  padding: 74px 50px;

  color: #fff;
  margin: 0 auto;
  text-align: center;

  font-family: Inter;
  font-size: 22px;
  line-height: 1.6;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal-text {
  margin: 20px 0 40px;
}
.modal-content > .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content > .buttons > button {
  padding: 18px 26px 19px 27px;
  border-radius: 30px;
  background-color: #222;

  font-family: Audiowide;
  font-size: 20px;
  line-height: 1;
  color: #aaa;
  min-width: 285px;
  margin: 8px;
  flex: 0 1 calc(50% - 32px);
}
.discode-active-icon {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.info-icon {
  width: 30px;
  height: 30px;
}

.info-icon > img {
  width: 100%;
}

@media (max-width: 640px) {
  .modal-content {
    padding: 50px 32px;
  }
  .modal-text {
    font-size: 16px;
    margin: 20px 24px;
  }
  .modal-content > .buttons {
    flex-wrap: wrap;
  }
  .modal-content > .buttons > button {
    width: 100%;
    height: 48px;
    font-size: 16px;
    padding: 0;
  }
}

/* buttons */
.enter-button {
  width: 330px;
  height: 70px;

  background: url("../image/desktop/Enter_btn.png") top center no-repeat;
  background-size: cover;
}
.community-button {
  width: 330px;
  height: 70px;

  background: url("../image/desktop/cnt_01_btn.png") top center no-repeat;
  background-size: cover;
}
.game-start-button {
  width: 330px;
  height: 70px;

  background: url("../image/desktop/Game_start_btn.png") top center no-repeat;
  background-size: cover;
}
.login-button {
  width: 330px;
  height: 70px;

  background: url("../image/desktop/login_btn.png") top center no-repeat;
  background-size: contain;
}
.logout-button {
  width: 330px;
  height: 70px;

  background: url("../image/desktop/logout_btn.png") center no-repeat;
  background-size: contain;
}
.join-button {
  width: 330px;
  height: 70px;

  background: url("../image/desktop/join_us_btn.png") top center no-repeat;
  background-size: contain;
}
.inner-close-button {
  background: url("../image/mobile/inner_close_btn.png") center no-repeat;
  background-size: cover;
}
.inner-open-button {
  background: url("../image/mobile/inner_open_btn.png") center no-repeat;
  background-size: cover;
}
.heart-off-button {
  background: url("../image/mobile/icon/heart_ico_off_m.png") center no-repeat;
  background-size: cover;
}
.heart-on-button {
  background: url("../image/mobile/icon/heart_ico_on_m.png") center no-repeat;
  background-size: cover;
}
.share-on-button {
  background: url("../image/mobile/icon/share_ico_on_m.png") center no-repeat;
  background-size: cover;
}
.share-off-button {
  background: url("../image/mobile/icon/share_ico_off_m.png") center no-repeat;
  background-size: cover;
}
.twitter-button {
  background: url("../image/desktop/twitter_btn.png") center no-repeat;
  background-size: cover;
}
.discord-button {
  background: url("../image/desktop/discord_btn.png") center no-repeat;
  background-size: contain;
}
.vote-button {
  background: url("../image/desktop/Vote_now_btn.png") center no-repeat;
  background-size: contain;
}
.result-button {
  background: url("../image/desktop/result_btn.png") center no-repeat;
  background-size: cover;
}
.gameinfo-button {
  background: url("../image/mobile/icon/gameinfo_ico_m.png") center no-repeat;
  background-size: contain;
}
.ok-button {
  background: url("../image/desktop/ok_btn.png") center no-repeat;
  background-size: contain;
}
@media (max-width: 640px) {
  .enter-button {
    width: 290px;
    height: 60px;
  }
  .discord-button {
    background: url("../image/mobile/brd_discord_btn.png") center no-repeat;
    background-size: contain;
  }
  .twitter-button {
    background: url("../image/mobile/brd_twitter_btn.png") center no-repeat;
    background-size: contain;
  }
}

/* background */
.star-bg {
  width: 100%;
  height: 100%;
  background: url("../image/desktop/star_bg.png") center no-repeat;
  background-size: cover;
}
.enter-login-bar {
  max-width: 1240px;
  min-height: 104px;
  background: url("../image/desktop/enter_login_bar_bg.png") center no-repeat;
  background-size: cover;
}
.status-bar {
  background: url("../image/desktop/status_bar_bg.png") center no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.list-box-bg {
  background: url("../image/desktop/status_bar_bg.png") center no-repeat;
  background-size: cover;
}
.prince-image {
  width: 809px;
  height: 677.9px;
  margin: 0 auto;
  background: url("../image/desktop/Prince_all.png") center no-repeat;
  background-size: cover;
}

@media (max-width: 748px) {
  .prince-image {
    width: 489px;
    height: 443px;
  }
}
@media (max-width: 640px) {
  .prince-image {
    width: 289px;
    height: 243px;
  }
}

/* icon */
.invite-icon {
  background: url("../image/desktop/icon/invite_ico.png") center no-repeat;
  background-size: cover;
  display: inline-block;
}
.circle-icon {
  background: url("../image/desktop/icon/page_nav_circle.png") center no-repeat;
  background-size: cover;
  display: inline-block;
}
.wallet-icon {
  background: url("../image/desktop/icon/wallet_ico_on.png") center no-repeat;
  background-size: cover;
  display: inline-block;
}
.w-wallet-icon {
  background: url("../image/mobile/icon/wallet_ico_m.png") center no-repeat;
  background-size: cover;
  display: inline-block;
}
.pass-icon {
  background: url("../image/desktop/icon/pass_ico.png") center no-repeat;
  background-size: cover;
  display: inline-block;
}
.share-icon {
  background: url("../image/desktop/icon/share.png") center no-repeat;
  background-size: cover;
  display: inline-block;
}
.heart-icon {
  background: url("../image/desktop/icon/heart_ico_s.png") center no-repeat;
  background-size: cover;
  display: inline-block;
}
.filter-icon {
  background: url("../image/desktop/icon/filter_ico.png") center no-repeat;
  background-size: contain;
}
.back-icon {
  background: url("../image/mobile/icon/back_btn_m.png") center no-repeat;
  background-size: contain;
}
.discode-icon {
  background: url("../image/desktop/icon/discord_ico_no_bg.png") center
    no-repeat;
  background-size: contain;
}
.discode-active-icon {
  background: url("../image/mobile/icon/discord-active.png") center no-repeat;
  background-size: contain;
}
.email-icon {
  background: url("../image/desktop/icon/mail_ico.png") center no-repeat;
  background-size: contain;
}
.up-icon {
  background: url("../image/desktop/icon/chevron_up_ico.png") center no-repeat;
  background-size: contain;
}
.down-icon {
  background: url("../image/desktop/icon/chevron_down_ico.png") center no-repeat;
  background-size: contain;
}
/* tag */
.tag {
  padding: 10px 20px;
  border-radius: 29px;

  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  color: #ff13e7;
}
.tag.poll {
  border: solid 1px #13e8f5;
  color: #13e8f5;
}
.tag.quiz {
  border: solid 1px #811fff;
  color: #811fff;
}
.tag.event {
  border: solid 1px #ff13e7;
  color: #ff13e7;
}
.tag.news {
  border: solid 1px #fff500;
  color: #fff500;
}
.tag.disabled {
  border: solid 1px #8a8a8a;
  color: #8a8a8a;
}
@media (max-width: 640px) {
  .tag {
    padding: 6px 10px;
    font-size: 12px;
  }
}
.border-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 29px;
  border: solid 2px #363636;
}
.bg-tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 29px;
  background-color: #363636;
}
.point-bg-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 12px;
  background-color: #5865f2;

  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
}

@media (max-width: 640px) {
  .only-desktop {
    display: none !important;
  }
}
