main {
  padding-bottom: 280px;
}
.date {
  display: inline-block;
  font-family: Inter;
  font-size: 22px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}
.date > span:not(.bg-tag) {
  color: #fff500;
}
.date + .date {
  margin-left: 30px;
}
.box-content-title > div {
  display: flex;
  align-items: center;
}
@media (max-width: 640px) {
  .box-title-info {
    font-size: 11px;
  }
  .box-content-title > div {
    text-align: center;
  }
  .date-wrapper {
    flex-direction: column;
  }
  .date {
    font-size: 16px;
  }
  .date + .date {
    margin-left: 0;
  }
  .date > .bg-tag {
    width: 54px;
    font-size: 12px;
    padding: 4px 12px;
  }
}
