main {
  padding-bottom: 280px;
}
.post-image {
  width: 100%;
  margin: 30px 0;
}
.post-image > img {
  width: 100%;
}
.date {
  display: inline-block;
  font-family: Inter;
  font-size: 22px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #fff500;
}
.date + .date {
  margin-left: 30px;
}
.bg-tag {
  color: #fff500;
  padding: 10px 20px;
}
.box-content {
  text-align: left;
}

@media (max-width: 640px) {
  .post-image {
    margin: 20px 0;
  }
}
