hr {
  margin: 25px 0 15px;
}

main {
  position: relative;
  min-height: 1838px;
  height: 100%;
}
.bg {
  background: url("../image/desktop/spot_bg.png") center no-repeat;
  background-size: cover;
  text-align: center;
  height: 734px;
  overflow: hidden;
}
.star-bg {
  padding-top: 143px;
}
.page-content {
  position: absolute;
  top: 407px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1280px;
  width: 100%;
  padding: 0 20px;
  color: #aaaaaa;
}
.status-bar {
  padding: 40px 50px;
  text-align: center;
}
.breadcrumb {
  display: flex;
  align-items: center;
  font-family: Audiowide;
  font-size: 14px;
  color: #818181;
}
.breadcrumb-level {
  margin-left: 15px;
  vertical-align: middle;
}
.circle-icon {
  width: 16px;
  height: 16px;
  vertical-align: text-top;
}
.breadcrumb-title {
  width: 69px;
  height: 20px;
  background: url("../image/desktop/login_title.png") center no-repeat;
  background-size: contain;
}
.content-title {
  font-family: Audiowide;
  font-size: 36px;
  color: #fff;
  margin: 30px auto;
}
.input {
  display: block;
  max-width: 500px;
  width: 100%;
  flex-grow: 0;
  padding: 20px;
  border-radius: 4px;
  background-color: #222;
  margin: 0 auto 25px;
  border: none;
}
.enter-login-bar {
  margin: 60px auto 0;
  padding: 42px 50px;
  border-radius: 10px;
}

/* page custom */
.join-button {
  margin-top: 30px;
}
.code-inputs {
  margin: 25px auto 0;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.code-input {
  width: 62px;
  height: 62px;
  flex-grow: 0;
  border-radius: 2px;
  background-color: #373737;
  border: none;
}
.desc {
  max-width: 500px;
  margin: 15px auto;
  text-align: left;
}
.point-text {
  font-family: Inter;
  font-size: 16px;
  font-style: italic;
  color: #13e8f5;
  text-decoration: underline;
  margin-top: 40px;
}
label {
  margin-left: 7.5px;
  flex: 1 1 auto;
}
.enter-login-bar > div:not(#more-content) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.up-icon,
.down-icon {
  width: 24px;
  height: 24px;
}
.up-icon,
#more-content {
  display: none;
}
#more-content {
  border-top: 1px solid #302f2f;
  margin-top: 20px;
  padding-top: 20px;
}
#more-content.clicked {
  display: block;
}
#more-content > div {
  padding: 20px;
  border-radius: 4px;
  background-color: #222;

  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.8;
  color: #aaa;
}
#more-button {
  cursor: pointer;
}

@media (max-width: 640px) {
  main {
    min-height: 1000px;
  }
  .breadcrumb,
  .status-bar > hr {
    display: none;
  }
  .mobile {
    display: block;
  }
  .bg {
    height: 375px;
  }
  .star-bg {
    padding-top: 76px;
  }
  .page-content {
    top: 150px;
  }
  .status-bar {
    padding: 32px 20px;
  }
  .content-title {
    background: url("../image/mobile/WELCOME_title.png") center no-repeat;
    background-size: contain;
    height: 20px;
    margin: 0 0 24px;
  }
  .input {
    padding: 16px 20px;
  }
  .enter-login-bar {
    margin: 40px auto 0;
    flex-direction: column;
    padding: 24px 20px;
  }
  .enter-login-bar + .enter-login-bar {
    margin: 20px auto 0;
  }
  .join-button {
    margin-top: 24px;
    width: 295px;
    height: 42px;
  }
  .code-inputs {
    margin: 40px auto 15px;
  }
  .input {
    margin: 0 auto 16px;
  }
  .code-input {
    width: 40px;
    height: 40px;
  }
  .code-input + .code-input {
    margin-left: 11px;
  }
  .desc {
    font-size: 14px;
  }
  .point-text {
    margin-top: 20px;
  }
}
