main {
  position: relative;
  padding-bottom: 299px;
}
.bg {
  background: url("../image/desktop/spot_bg.png") center no-repeat;
  background-size: cover;
  text-align: center;
  height: 734px;
  overflow: hidden;
}
.star-bg {
  padding-top: 143px;
  position: relative;
}
.page-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1280px;
  width: 100%;
  padding: 0 20px;
}
.status-bar {
  padding: 40px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons > button + button {
  margin-left: 30px;
}
.get-more-happy {
  max-width: 571px;
  height: 48px;
  margin: 0 auto 20px;
  background: url("../image/desktop/Title.png") center no-repeat;
  background-size: cover;
}
.welcome {
  display: none;
  width: 150px;
  height: 25px;
  margin: 0 auto;

  background: url("../image/mobile/WELCOME_title.png") center no-repeat;
  background-size: cover;
}
.list-header {
  max-width: 1240px;
  height: 228px;
  margin: 0 auto;
  background: url("../image/desktop/cnt_head_bg.png") center no-repeat;
  background-size: contain;
}
.breadcrumb {
  display: flex;
  align-items: center;
  font-family: Audiowide;
  font-size: 14px;
  text-align: left;
  color: #818181;
  padding: 37px 50px;
}
.breadcrumb-level {
  margin-left: 15px;
  vertical-align: middle;
}
.circle-icon {
  width: 16px;
  height: 16px;
  vertical-align: text-top;
}
.community-title {
  width: 138px;
  height: 20px;
  background: url("../image/desktop/community_tit.png") center no-repeat;
  background-size: contain;
}
.list-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 50px;
}
.list-filter > div {
  display: flex;
  align-items: center;
}
.hypper {
  font-family: Audiowide;
  font-size: 36px;
  text-align: left;
  color: #fff;
}
.filter-icon {
  width: 23.4px;
  height: 21px;
}
.list-filter > div > .tag {
  margin-left: 10px;
}
.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -20px auto;

  max-width: 1280px;
}
.list-item {
  flex: 1 1 calc(50% - 40px);
  display: flex;
  align-items: center;

  background: url("../image/desktop/list_box.png") center no-repeat;
  background-size: cover;
  color: #fff;
  padding: 45px 40px;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.list-item-text {
  margin-left: 30px;
}
.list-item-title {
  font-family: Sora;
  font-size: 25px;
  line-height: 1.12;
  text-align: left;
  color: #fff;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.list-item-info {
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.33;
  text-align: left;
  color: #969696;
  margin-top: 15px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.list-item-info > div {
  margin-left: 15px;
}
.list-item-info-icon {
  width: 17.4px;
  height: 15.2px;
  vertical-align: text-top;
  margin-right: 5px;
  padding-left: 20px;
}
.pagination {
  text-align: center;
  margin-top: 120px;
}
.pagination a {
  text-decoration: none;
  margin: 5px;
  padding: 15px 20px;
  border-radius: 10px;
  border: solid 1px #424242;
  color: #fff;
  display: inline-block;
}
.pagination a.active {
  background-color: #494949;
}

#filter-icon {
  position: relative;
}
#filter-menu {
  position: absolute;
  top: 26px;
  right: 3px;
  z-index: 50;

  width: 77px;
  height: 142px;
  padding: 8px;
  border-radius: 8px;
  background-color: #222;

  display: none;
}
#filter-menu.clicked {
  display: block;
}
#filter-menu > button + button {
  margin-top: 10px;
}
@media (max-width: 1240px) {
  .list-header {
    background-size: cover;
  }
}
@media (max-width: 748px) {
  .list-filter > div > .tag,
  .breadcrumb {
    display: none;
  }
  main {
    padding-bottom: 0;
  }
  .bg {
    height: 400px;
  }
  .star-bg {
    padding-top: 62px;
  }
  .status-bar {
    padding: 20px;
    top: 65%;
  }
  .list {
    margin: 0;
  }
  .list-header {
    margin: 40px 20px 10px;
    background: unset;
    height: unset;
  }
  .list-item {
    flex: 1 1 100%;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 12px 20px;
    margin: 8px 20px;
  }
  .list-item-title {
    font-size: 15px;
  }
  .list-item-info {
    font-size: 11px;
  }
  .list-item-text {
    margin-left: 0;
    margin-top: 10px;
  }
  .list-item-info {
    position: absolute;
    top: 16px;
    right: 20px;
    margin-top: 0;
  }
  .hypper {
    font-size: 20px;
  }
  .list-filter {
    padding: 0;
  }
  .tag {
    width: 61px;
    height: 24px;
    font-size: 12px;
    padding: 6px 10px;
  }
  .pagination {
    margin-top: 20px;
  }
  .pagination > a {
    padding: 8px 12px;
  }
}
@media (max-width: 640px) {
  .bg {
    height: 300px;
  }
  .get-more-happy {
    display: none;
  }
  .welcome {
    display: block;
  }
  .buttons {
    flex-direction: column;
  }
  .buttons > button {
    width: 295px;
    height: 42px;
    margin-top: 16px;
  }
  .buttons > button + button {
    margin-left: 0;
  }
}
