hr {
  margin: 25px 0 15px;
}
main {
  position: relative;
  min-height: 1420px;
  height: 100%;
}
.bg {
  background: url("../image/desktop/spot_bg.png") center no-repeat;
  background-size: cover;
  text-align: center;
  height: 734px;
  overflow: hidden;
}
.star-bg {
  padding-top: 143px;
}
.page-content {
  position: absolute;
  top: 407px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1280px;
  width: 100%;
  padding: 0 20px;
}
.status-bar {
  padding: 40px 50px;
  text-align: center;
}
.breadcrumb {
  display: flex;
  align-items: center;
  font-family: Audiowide;
  font-size: 14px;
  color: #818181;
}
.breadcrumb-level {
  margin-left: 15px;
  vertical-align: middle;
}
.circle-icon {
  width: 16px;
  height: 16px;
  vertical-align: text-top;
}
.breadcrumb-title {
  width: 69px;
  height: 20px;
  background: url("../image/desktop/login_title.png") center no-repeat;
  background-size: contain;
}
.content-title {
  font-family: Audiowide;
  font-size: 36px;
  color: #fff;
  margin: 30px auto;
}
.input {
  display: block;
  max-width: 500px;
  width: 100%;
  padding: 20px;
  border-radius: 4px;
  background-color: #222;
  margin: 0 auto 25px;
  border: none;
}
.enter-login-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px auto 0;
  padding: 42px 0;
  border-radius: 10px;
}

/* page custom */
.login-optins {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
}
.login-button {
  margin-top: 50px;
}
.join-desc {
  font-family: Inter;
  font-size: 18px;
  line-height: 1;
  color: #13e8f5;
}
.join {
  font-family: Audiowide;
  font-size: 24px;
  line-height: 1;
  color: #00deec;
}
.dotted-line {
  border-style: dotted;
  width: 120px;
  height: 1px;
  flex-grow: 0;
  background-color: #13e8f5;
  margin: 10px 20px 0 5px;
}

@media (max-width: 640px) {
  main {
    min-height: 656px;
  }
  .breadcrumb,
  .status-bar > hr {
    display: none;
  }
  .mobile {
    display: block;
  }
  .bg {
    height: 375px;
  }
  .star-bg {
    padding-top: 76px;
  }
  .page-content {
    top: 150px;
  }
  .status-bar {
    padding: 32px 20px;
  }
  .content-title {
    background: url("../image/mobile/WELCOME_title.png") center no-repeat;
    background-size: contain;
    height: 20px;
    margin: 0 0 24px;
  }
  .input {
    padding: 16px 20px;
  }
  .enter-login-bar {
    margin: 20px auto 0;
    flex-direction: column;
    padding: 24px 20px;
  }
  .login-optins {
    flex-direction: column;
  }
  .login-optins > div + div {
    margin-top: 13.5px;
  }
  .login-button {
    margin-top: 24px;
    width: 295px;
    height: 42px;
  }
  .join {
    margin-top: 12px;
    font-size: 16px;
    text-decoration: underline;
  }
  .join-desc {
    font-size: 14px;
  }
}
