main {
  padding-bottom: 252px;
}
.date {
  display: inline-block;
  font-family: Inter;
  font-size: 22px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}
.date > span:not(.bg-tag) {
  color: #fff500;
}
.date + .date {
  margin-left: 30px;
}
.bg-tag {
  font-size: 20px;
  display: inline-block;
  padding: 8px 20px;
  margin-right: 15px;
}
.vote-options {
  margin-top: 60px;
}
.vote-option {
  display: flex;
  align-items: center;
}
.rate-bg {
  background-color: rgba(80, 80, 80, 0.5);
  padding: 0 22px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 40px;
}
.vote-option.selected > .vote-option-text {
  color: #13e8f5;
}
.vote-option.selected > .vote-option-text > .rate-bg,
.vote-option.selected > .vote-option-rate > .rate-bg {
  background: rgb(19 232 245 / 10%);
}
.vote-option + .vote-option {
  margin-top: 20px;
}
.vote-option-image {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #fff;
  margin-left: 30px;
  flex-shrink: 0;
}
.vote-option-text {
  margin: 0 22px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.8;
  color: #fff;
  flex: 1 1 auto;
  position: relative;
}
.vote-option-rate {
  font-family: Inter;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.8;
  color: #13e8f5;
}
.button {
  text-align: center;
  margin-top: 70px;
}
.vote-button {
  width: 330px;
  height: 70px;
}

@media (max-width: 640px) {
  .button {
    margin: 40px 0 0;
  }
  .vote-button {
    width: 100%;
    background-size: contain;
  }
  .date {
    font-size: 16px;
  }
  .date > .bg-tag {
    width: 54px;
    font-size: 12px;
    padding: 4px 12px;
  }
  .date + .date {
    margin-left: 0;
  }
  .vote-option {
    flex-direction: column;
  }
  .vote-option-image {
    width: 50px;
    height: 50px;
    margin-left: 0;
    margin: 10px 0 8px;
  }
  .vote-option-text {
    margin: 0;
    text-align: left;
    padding: 0;
    border-radius: 0;
    background-color: unset;
  }
  .vote-option-rate {
    text-align: left;
    width: 100%;
    margin-top: 10px;
    position: relative;
    padding: 0 14px;
    height: 40px;
  }
  .box-content-title {
    text-align: center;
  }
}
