* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
p {
  margin: 0;
}
img {
  width: 100%;
  height: 100%;
}
button {
  background: inherit;
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
hr {
  max-width: 1140px;
  border-bottom: 1px solid #232323;
  border-top: 0;
  margin: 25px 0 15px;
}

/* nav */
nav {
  position: absolute;
  top: 78px;
  left: 0;
  z-index: 50;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 91.5px 0 87px;
}
.nav-right {
  display: flex;
  align-items: center;
}
.nav-logo {
  width: 384.7px;
}
.sns-icon,
.menu-icon {
  width: 36px;
  height: 36px;
  display: inline-block;
  vertical-align: middle;
}
.sns-icon.discord {
  background: url("../image/desktop/discord_ico.png") center no-repeat;
  background-size: cover;
}
.sns-icon.insta {
  background: url("../image/desktop/insta_ico.png") center no-repeat;
  background-size: cover;
}
.sns-icon.youtube {
  background: url("../image/desktop/youtube_ico.png") center no-repeat;
  background-size: cover;
}
.sns-icon.twitter {
  background: url("../image/desktop/twitter_ico.png") center no-repeat;
  background-size: cover;
}
.menu-icon {
  background: url("../image/desktop/menu_ico.png") center no-repeat;
  background-size: cover;
  margin-left: 46.5px;
}
.sns-icon + .sns-icon {
  margin-left: 10px;
}
.nav.mobile > .logo {
  width: 126.9px;
  height: 36px;
}
@media (max-width: 1024px) {
  nav {
    padding: 0 23px 0 20px;
  }
}
@media (max-width: 640px) {
  nav,
  nav > .sns-icons {
    display: none;
  }
  nav {
    top: 16px;
    padding: 0 23px 0 20px;
  }
  nav.mobile {
    display: flex;
  }
  .menu-icon {
    width: 24px;
    height: 24px;
  }
}

/* footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px 0 25px;
  background-color: #101010;
}
footer > div {
  flex: 1 1 auto;
  text-align: center;
}
.footer-left {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  color: #969696;
}
.footer-right {
  font-family: Inter;
  font-size: 14px;
  line-height: 1;
  color: #818181;
}
footer > .sns-icons {
  display: none;
}
.mobile {
  display: none;
}
@media (max-width: 640px) {
  .footer-left {
    display: none;
  }
  footer {
    padding: 0 0 34px;
    background-color: #050505;
    flex-direction: column;
  }
  footer > .sns-icons {
    display: block;
    margin-bottom: 24px;
  }
  .footer-right > span {
    display: block;
  }
}

/* buttons */
.enter-button {
  width: 330px;
  height: 70px;

  background: url("../image/desktop/Enter_btn.png") top center no-repeat;
  background-size: cover;
}
.community-button {
  width: 330px;
  height: 70px;

  background: url("../image/desktop/cnt_01_btn.png") top center no-repeat;
  background-size: cover;
}
.game-start-button {
  width: 330px;
  height: 70px;

  background: url("../image/desktop/Game_start_btn.png") top center no-repeat;
  background-size: cover;
}
.login-button {
  width: 330px;
  height: 70px;

  background: url("../image/desktop/login_btn.png") top center no-repeat;
  background-size: cover;
}
.join-button {
  width: 330px;
  height: 70px;

  background: url("../image/desktop/join_us_btn.png") top center no-repeat;
  background-size: cover;
}
.inner-close-button {
  background: url("../image/mobile/inner_close_btn.png") center no-repeat;
  background-size: cover;
}
.inner-open-button {
  background: url("../image/mobile/inner_open_btn.png") center no-repeat;
  background-size: cover;
}
@media (max-width: 640px) {
  .enter-button {
    width: 290px;
    height: 60px;
  }
}

/* background */
.star-bg {
  width: 100%;
  height: 100%;
  background: url("../image/desktop/star_bg.png") center no-repeat;
  background-size: cover;
}
.enter-login-bar {
  max-width: 1240px;
  max-height: 104px;
  background: url("../image/desktop/enter_login_bar_bg.png") center no-repeat;
  background-size: cover;
}
.status-bar {
  max-width: 1240px;
  max-height: 569px;

  width: 100%;
  height: 100%;
  background: url("../image/desktop/status_bar_bg.png") center no-repeat;
  background-size: cover;
}

/* icon */
.invite-icon {
  background: url("../image/desktop/icon/invite_ico.png") center no-repeat;
  background-size: cover;
  display: inline-block;
}
.circle-icon {
  background: url("../image/desktop/icon/page_nav_circle.png") center no-repeat;
  background-size: cover;
  display: inline-block;
}
.wallet-icon {
  background: url("../image/desktop/icon/wallet_ico_on.png") center no-repeat;
  background-size: cover;
  display: inline-block;
}
.pass-icon {
  background: url("../image/desktop/icon/pass_ico.png") center no-repeat;
  background-size: cover;
  display: inline-block;
}
