main {
  padding-bottom: 230px;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contents {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  width: 100%;
}
.contents > .text {
  font-family: Inter;
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: left;
  max-width: 774px;
  margin-top: 42px;
}
.text > p + p {
  margin-top: 40px;
}

.bg {
  background: url("../image/desktop/spot_bg.png") top center no-repeat;
  background-size: cover;
  position: relative;
  height: 1300px;
}
.line {
  background: url("../image/desktop/Ellipse_line.png") center no-repeat;
  background-size: contain;
  z-index: 20;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100vw;
}
.center-cube {
  background: url("../image/desktop/cube_03.png") top center no-repeat;
  background-size: contain;
  width: 833px;
  height: 898px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}
.left-cube {
  background: url("../image/desktop/cube_01.png") top center no-repeat;
  background-size: contain;

  width: 292.8px;
  height: 292.8px;
  position: absolute;
  bottom: 40%;
  left: -455px;
  transform: translateY(50%);
  z-index: 20;
}
.right-cube {
  background: url("../image/desktop/cube_02.png") top center no-repeat;
  background-size: contain;
  width: 162.6px;
  height: 179.5px;

  position: absolute;
  top: 0;
  right: -348px;
  z-index: 20;
}
.star-bg > .contents {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -30%);
  z-index: 30;
}
.welcome-title {
  width: 831px;
  height: 86px;
  background: url("../image/desktop/Welcome_title.png") top center no-repeat;
  background-size: contain;
}
.prince-img {
  background: url("../image/desktop/Prince_all.png") top center no-repeat;
  background-size: contain;
  width: 809px;
  height: 677.9px;
  margin-top: 20px;

  position: relative;
}
.enter-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.star-bg > .contents > .text {
  font-family: Inter;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #bdbdbd;
  margin-top: -60px;
  z-index: 30;
}

.community {
  background: url("../image/desktop/element_bg.png") center no-repeat;
  background-size: cover;
}
.contents > .number-icon {
  width: 72px;
  height: 72px;
  margin: 2px 0 0;
}
.shadow-image {
  width: 765.2px;
  height: 473.8px;
  margin: 77.3px 0 32.2px;

  background: url("../image/desktop/cnt_01_obj.png") top center no-repeat;
  background-size: contain;
}
.phone-image {
  width: 713px;
  height: 801px;
  margin-top: 17px;

  background: url("../image/desktop/cnt_02_mockup.png") top center no-repeat;
  background-size: contain;

  position: relative;
}
.exchange-image {
  width: 537px;
  height: 154px;
  margin-bottom: 76px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  background: url("../image/desktop/cnt_02_obj.png") top center no-repeat;
  background-size: contain;
}
.element-image {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: 222.8px;
  height: 222.8px;
  background: url("../image/desktop/element_bg_02.png") center no-repeat;
  background-size: cover;
}
.play-text {
  max-width: 321px;
  margin: 135.8px 0 127.8px;
}
.game-info {
  margin-top: 140px;
}
.mobile {
  display: none;
}

@media (max-width: 940px) {
  .welcome-title {
    background: url("../image/mobile/enter_title.png") top center no-repeat;
    background-size: contain;
    width: 80%;
  }
  .center-cube {
    width: 733px;
    height: 798px;
  }
  .prince-img {
    width: 709px;
    height: 577.9px;
  }
}

@media (max-width: 640px) {
  section:not(.bg),
  .text {
    display: none;
  }

  body {
    height: 100vh;
    overflow: hidden;
  }
  main {
    display: flex;
    justify-content: center;
    flex-direction: column;

    flex: 1 1 auto;
    overflow: hidden;
    padding-bottom: 0;
    height: calc(100vh - 122px);
  }
  footer {
    padding: 0 0 34px !important;
  }
  .bg {
    min-height: 568px;
  }
  .center-cube {
    width: 147px;
    height: 158.5px;
    top: 35%;
  }
  .left-cube {
    width: 140.3px;
    height: 140.3px;
    left: -50%;
    bottom: -50%;
    transform: translateX(-50%);
  }
  .right-cube {
    width: 79px;
    height: 79px;
    right: -50%;
    top: -50%;
    transform: translate(50%, 50%);
  }
  .prince-img {
    width: 289px;
    height: 243px;
  }
  .welcome-title {
    position: absolute;
    bottom: 0;
    z-index: 30;
    width: 252px;
  }
  .enter-button {
    bottom: -110px;
    top: unset;
  }
  .star-bg > .contents {
    top: 40%;
  }
}
