main {
  padding-bottom: 188px;
}
.info {
  max-width: 664px;
  margin: 0 auto;
}
.history {
  max-width: 664px;
  width: 100%;
  margin: 0 auto;
  border-radius: 4px;
}
.history-item {
  font-family: Inter;
  font-size: 18px;
  line-height: 1;
  color: #aaa;

  justify-content: space-between;
  display: flex;
  align-items: center;
}
.history-item > .text {
  flex: 1 1 auto;
  text-align: left;
}
.history-item + .history-item {
  margin-top: 30px;
}
.date {
  font-family: Inter;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  margin-right: 60px;
}
.price {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #fff500;
  margin-left: 60px;
}
button {
  width: 100%;
  height: 70px;
}

@media (max-width: 640px) {
  .status-bar > hr,
  .list > hr {
    display: none;
  }
  .list {
    background: url("../image/desktop/status_bar_bg.png") center no-repeat;
    background-size: cover;
    padding: 20px;
    margin-top: 24px;
    border-radius: 4px;
  }
  .history {
    margin-top: 20px;
    border-top: 1px solid #302f2f;
  }
  .history-item {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    padding: 20px 0;
    border-bottom: 1px solid #302f2f;
  }
  .history-item > * {
    margin-left: 0;
    margin-right: 0;
    font-size: 14px;
  }
  .history-item > .price {
    font-size: 16px;
  }
  .history-item > div + div {
    margin-top: 12px;
  }
  .history-item + .history-item {
    margin-top: 0;
  }
  .ok-button {
    margin-top: 20px;
  }
}
