main {
  padding-bottom: 280px;
}

@media (max-width: 640px) {
  section > hr {
    margin: 20px 0;
    border-bottom: none;
  }

  .user-info-wrapper {
    background: url("../image/desktop/status_bar_bg.png") center no-repeat;
    background-size: cover;
    padding: 20px;
    margin-top: 24px;
  }

  .user-info-wrapper > div:not(:first-child) {
    margin-top: 25px;
  }
}
